body {
  width: 50%;
  color: azure;
  align-content: center;
}

header {
  text-align: center;
}

h1 {
  font-size: 100px;
  color: darkred;
  font-weight: 200;
}

input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid darkred;
  outline: none;
  padding: 5px;
}
